apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      version: Flux
      organization: home
      defaultBucket: default
    secureJsonData:
      token: {{ grafana_influx_token | quote }}
